* {
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-size: 0.7cm; 
    font-size: 0.7mm ; 
    font-size: 0.2in; 
    font-size: 20pt; 
    font-size: 2pc; */

}

.main {
    margin: 20px auto;
    width: 50vmax;
    height: 50vmax;
    background-color: rgba(220, 20, 60, 0.5);
    font-size: 2vh;

    /* Absolute Lenghts, uvek ostaje ista
    1. cm, centimetres  (1c m= 37px) 
    2. mm, milimetres 
    3. in, inches  (1in = 96px)
    4. px, pixels 
    5. pt, points 
    6. pc, picas (1pc = 12pt)

    Relative Lenghts, menja se na osnovu viewporta tj font siza
    1. em 
    2. rem 
    3. vw,  Relativno 1% u odnosu na sirinu browsera 
    4. vh   Relativna 1% u odnosu na visinu browsera 
    5. vmin Relativna 1% u odnosu na sirinu ili visinu, zapravo sta bue manja od ta dva
    6. vmax Relativna 1% u odnosu na sirinu ili visinu, zapravo sta bude vece od ta dva
    7. %    Relativna u odnosu na svog parent elementa */
}

.child {
    font-size: 80%;
}

.main2 {
    margin: 0px auto;
    background-color: blue;
    width: 100%;
    height: 10rem;

}
