* {
    margin: 0;
    font-family: sans-serif;

}

body {
    background-color: black
    ;
}

.header {
    margin: 0px auto;
    width: 100%;
    height: 80px;
    background-color:  #481117;
    font-size: 18px;
}

.ime {
    padding-top: 25px;
    padding-left: 70px;
    color: black;

}

.header a{
    margin-right: 18px;
    float: right;
    text-decoration: none;
    color: black;
    margin-top: -6px;
    font-size: 20px;
}

.card {
    width: 375px;
    height: 450px;
    background-color: #f1f1f1;
    margin: 20px auto;
    margin-top: 35px;
    border-radius: 13px;
    box-shadow: 0px 10px 10px 10px #481117;

}

.logo {
    width: 40px;
    height: 46px;
    margin-top: -50px;
    margin-left: 20px;

}

.knjiga {
    width: 220px;
    height: 290px;
    margin-top: 15px;
    margin-left: 75px;
}

.title {
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
}

.PARE {
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

.dugme {
    border: 3px solid green;
    border-radius: 8px;
    outline: none;
    width: 90px;
    height: 45px;
    background-color: ;
    margin-left: 144px;
    margin-top: 5px;
}
