

.main {
    margin: 50px auto;
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 15px ;
    border: 3px solid black;
    box-shadow: 4px 4px 8px rgba(8, 8, 70, 0.7), -4px -4px 8px rgba(8, 8, 70, 0.7);



}

.main img {
    width: 400px;
    height: 200px;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
}

.main img:hover {
    content: url("./ocean.jpg");

}

.main h1 {
    text-align: center;
    /* text-transform: lowercase */
    /* text-transform: capitalize */
    /* text-transform: none Defaultna vrednost */
    text-transform: uppercase;
    font-size: 27px;
    padding: 10px;
}

.main h3 {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}

.main p {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    /* text-align: left; */
    /* text-align: right; */
    text-align: justify; 
    text-indent: 20px;
    text-align-last: right;
}

.main p:hover{
    background-color: aqua; 
    border-bottom-left-radius: 15px  ;
    border-bottom-right-radius: 15px;
}

/* table tr:last-child, 
   table tr:first-of-type(2) td: first-of-type (4), (ovo je npr da se definise SREDA u rasporedu)

   table tr:nth-child(odd) {background: red}, (to highlight some rows) /*