* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    /* height: 500px; */
    display: flex;
    background-color: aliceblue;
    /* justify-content: end; */
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; always on the main axis */
    align-items: center; /* always on the cross axis */
    

}

.item {
    flex: 1;
    
    height: 100px;
    background-color: rgb(34, 34, 173);
    margin: 10px ;
    color: white;

    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.item:nth-of-type(1) {
    /* order: 3; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */


}
.item:nth-of-type(2) {
    /* order: 2; */
    /* flex-grow: 3; */
}

.item:nth-of-type(3) {
    /* order: 1; */
    /* flex-grow: 1; */
    
}