body {
    background-color: #FFF2F2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


table tr:nth-child(3) {background: #EF9F9F }
table tr:nth-child(5) {background: #EF9F9F }
table tr:nth-child(7) {background: #EF9F9F }
table tr:nth-child(3) {background: #EF9F9F }

.prvalinija {
    text-align: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    padding: 4px;
    
}


.brojj {
    text-align: center;
}


table {
    border-collapse: collapse;
    margin-top: 150px;
    margin-left: 300px;
    background-color: #FAD4D4;
    border-radius: 8px;
    width: 800px;
    height: 300px;
    font-size: 18px;
    box-shadow: 2px 2px 6px black ;
    text-align: center;

}

table:hover {
    width: 900px;
    height: 400px;
}


.broj {
    border: 1.1px dashed black;
    border-left: 0px;

    
    
}

.dvaa {
    border-top: 1.1px dashed black;
    border-bottom: 1.1px dashed black;
    border-left: 1.1px dashed black;
}


.dva {
    border: 1.1px dashed black;
    
}

.zadnja {
    text-align: right;    
}
