* {
    margin: 0;
}

body {
    background-color: #131313;;
    font-family: ;
}

.png {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 100px;
    float: left;
}

h1 {
    color: white;
}

.form {
    width: 400px;
    height: 130px;
    background-color: rgb(223, 74, 74);
    float: left;
    margin-left: 160px;
    margin-top: 250px;
    font-size: 30px;
    padding: 15px;
    border-radius: 15px;
}

button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-left: 135px;
    font-size: 30px;
    color: rgb(223, 74, 74);
    border: none;
    outline: none;
}

.form input{
    border: none;
    outline: none;
    width: 150px;
    height: 20px;
    
}