body {
    background-color: whitesmoke;
}
h1 {
    background-color: black;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid red;
    padding: 15px;
    margin: 50px;
}

p {
    background-color: black;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid  aqua;
    padding: 15px;
}