body {
    font-family: 'Times New Roman', Times, serif;
}



h1 {
    background-color: blueviolet;
}

.moja_klasa {
    background-color: red;
}

#moj_element {
    background-color: aquamarine;
}

.container {
    background-color: red;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin: 50px;
}

h5 {
    margin: 0px;
}
h3 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
h1 {
    margin: 0px;
}


p {
    margin: 30px;
}

.containerno2 {
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: gray;
    font-size: 20px;
    padding: 40px;
    margin: 10px;
    border: 5px solid black;

}

