* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #412fb3;
    padding: 20px;

}

.header h1 {
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 30px;

}

.header a {
    position: relative;
    color: whitesmoke;
    margin-left: 50px;
    left: 1400px;
    font-size: 25px;
    top: -20px;
    text-decoration: none;
}

.main {
    text-align: center;
    position: relative;
    bottom: -180px;
    font-size: 23px
    
}

.flexbox {
    display: flex;
    width: 450px;
    height: 300px;
    background-color: gainsboro;
    
    margin-top: 260px;
    margin-left: 180px;
    text-align: center;
    font-size: 30px;

}

.flexbox p{
    
    position: relative;
    margin-top: 160px;
    margin-right:  px;
    left: -100px;
    font-size: 19px;
    text-align: left;
    
}

.flexbox h3 {
    position: relative;
    left: 20px;
    bottom: -50px;
    text-align: left;
}

#ikona {
    font-size: 40px;
    margin-left: 25px;
    margin-top: 70px;
}

.flexbox2 {
    
        display: flex;
        width: 450px;
        height: 300px;
        background-color: gainsboro;
        
        margin-top: -300px;
        margin-left: 730px;
        text-align: center;
        font-size: 30px;
    

}

.flexbox2 p{
    
    position: relative;
    margin-top: 160px;
    margin-right:  px;
    font-size: 19px;
    text-align: left;
    left:-120px;
}

.flexbox2 h3 {
    position: relative;
    left: 20px;
    bottom: -50px;
    text-align: left;
}

.flexbox3 {
    
    display: flex;
    width: 450px;
    height: 300px;
    background-color: gainsboro;
    
    margin-top: -300px;
    margin-left: 1280px;
    text-align: center;
    font-size: 30px;


}

.flexbox3 p{

position: relative;
margin-top: 160px;
margin-right:  px;
font-size: 19px;
text-align: left;
left: -135px;
}

.flexbox3 h3 {
position: relative;
left: 20px;
bottom: -50px;
text-align: left;
}


/* media uvek ide zadnja */
@media (max-width: 500px) {
    .header {
        width: 100%;
    }
    
    .header a {
        margin-right: 500px;
        

    }

    .flexbox {
        width: 70%;
    }


}