* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #412fb3;
    padding: 20px;

}

.header h1 {
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 30px;

}

.header a {
    position: relative;
    color: whitesmoke;
    margin-left: 50px;
    left: 1400px;
    font-size: 25px;
    top: -20px;
    text-decoration: none;
}


.main {
    font-size: 25px;
    margin-top: 300px;
    text-align: left;
    margin-left: 70px;


}

.slika {
    width: 700px;
    height: 550px;
    margin-left: 800px;
    margin-top: -200px;

}