h1 {
    color: blue;
}


div h1 {
    color: #8a2be2;
}


.class1 p {
    color: #ffc0cb;

}

.class1 {
    background-color: #00ffff;
    width: 400px;
    height: 300px;
    /* border: 5px dashed black; */
    /* border: 5px double black; */
    /* border: 5px dotted black; */
    border : 1px solid black; 
    /* margin: 20px; */
    /* margin: 10px 20px 10px 15px; */
    margin: 20px 25px;
    /* padding: 15px; */
    padding: 15px 10px;
}

#id1 {
    background-color: aqua;
    width: 400px;
    height: 300px;
    margin: 40px auto;
    /* border: 3px dashed black; */
    /* border-radius: 8px solid black; */
    border: 3px solid black;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    padding: 15px 30px;

}

#id1 p {
    color: darkblue;
    
}

#id1:hover {
    background-color: #ffc0cb;
}

#id1 p:hover {
    background-color: #8a2be2;
}

/* Prednost pilikom dodele stilova ima id u odnosu na klasu! */
#id2 {
    color: darkorange;
}

.class2 {
    color: aqua;
}

/* Id koristiti ako se pojavljuje samo jednom u nekom tagu. */
/* Istu klasu mozemo na vise html tagova dodeliti */


/* domaci kartica, radius, fotografija, padding, prvo h1 pa manji h2 ili h3, pa paragraf, box ima border isprekidan */

