* {
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent {
    width: 100vw;
    height: 400px;
    background-color: blueviolet;
    float: right;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 160, 17, 0.5);
    float: right;

    
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(12, 52, 49);
    float: right;

    
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(22, 88, 31);
    float: right;

}
.box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(251, 0, 255);
    float: right;

}
.box5 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 85, 0);
    float: left;
    clear: both;

}
.box6 {
    width: 100px;
    height: 100px;
    background-color: rgb(72, 255, 0);
    float: left;

}

.box7 {
    width: 100px;
    height: 100px;
    background-color: rgb(38, 38, 85);
    float: left;
}

.prvi {
    width: 400px;
    height: 400px;
    background-color:rgb(38, 38, 85);
    float: left;

}

.drugi {
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    float: left;

}