* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

header {
    width: 100%;
    background-color: rgb(138, 71, 201);
    color: white;
    height: 70px ;
    
}

.headerdiv {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header2 {
    display: flex;
    align-items: center;
    position: relative;
}

.headerdiv h1{
    margin-top:     15px;
    margin-left: -100px;
}

.header2 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -30px;
    list-style-type: none;
    gap: 15px;
    margin-top: 24px;
}

.header2 ul a {
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.main h1{
    font-weight: bolder;
    margin-bottom: 7px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 60px;
    
}

.box1 {
    width: 250px;
    height: 320px;
    background-color: rgb(138, 71, 201);
}

.box2 {
    width: 250px;
    height: 320px;
    background-color: rgba(138, 71, 201);
}

.box3 {
    width: 250px;
    height: 320px;
    background-color: rgb(138, 71, 201);
}